body {
  font-family: Arial, sans-serif;
  background: white;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.checkout-container {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.pay-button {
  width: 100%;
  padding: 12px;
  background: blue;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.pay-button:hover {
  background: DarkBlue;
}